<form [formGroup]="form" novalidate autocomplete="off" class="professional">
    <app-form-field label="Select your role" [required]="true" [control]="form.controls['roleId']"
        [patternError]="regexErrors.latinAndSpaces">
        <app-radios formControlName="roleId" [items]="dictionaries ? dictionaries.roles.controlItems : []"></app-radios>
    </app-form-field>
    <app-form-field label="Tell about yourself" [required]="true" [control]="form.controls['about']">
        <app-input formControlName="about"></app-input>
    </app-form-field>
</form>
